html, body {
margin: 0px;
padding: 0px;
border: 0px;
}

body {
	font-family: "Arial", sans-serif;
	font-size: 13px;
	color: #757575;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

li {
	display: inline;
	padding-left: 15px;
}

li a, li a:visited {
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}

#apps {
	position: relative;
	top: 8px;
	width: 25px;
	height: 25px;
	padding: 0;
}

#sign-in {
	width: 69px;
	height: 30px;
	font-size: 13px;
	font-weight: bold;
	color: white;
	background-color: #4285f4;
	border: none;
}

.center {
	display: block;
	margin: 0 auto;
}

.content {
	position: relative;
	top: 90px;
}

.search {
	width: 480px;
	height: 35px;
	margin: 30px auto;
	border: 1px solid #edeaea;
	border-radius: 2px;
	box-shadow: 00 2px 2px 0 rgba(0,0,0,0.16);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	font-size: 16px;
}

.search:hover, .search:active {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2)
}

#google-mic {
	position: absolute;
/*	top: -58px;
	left: 800px;*/
/*	top: 235px;
	left: 800px;*/
	top: 73%;
	right: 31.5%;
	width: 15px;
	height: 20px;
	z-index: 5;
}

input:focus {
    outline: none;
}

.button-center {
	text-align: center;
}

.search-button {
	background-color: #f2f2f2;
	border: none;
/*	margin-left: 4px;
	margin-right: 4px;*/
	padding: 8px 16px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
}

.search-button:hover, .search-button:active {
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

button:focus{
	outline: none;
}

/*Added this because float property for #move-right was interfering with logo's
ability to center properly*/
img.center {
	clear: right;
	padding-top: 109px;
}

img.logo {
	height: 92px;
	width: 272px;
}

.top-nav {
	position: absolute;
	top: 20px;
	width: 100%;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
    margin-bottom: 0px;
    border-top: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    padding-top: 12px;
    padding-bottom: 12px;
}

.move-left {
	padding-left: 30px;

}

.move-right {
	float: right;
	padding-right: 30px;
}

/*Commenting this out for right now,
but might prove useful when giving margins to right nav bar elements
probably bring back as class instead of ID to use for footer as well

#footer-right {
	margin-right: 1%;
}*/
