html, body {
margin: 0px;
padding: 0px;
border: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

li {
	display: inline;
}

.center{
	display: block;
	margin: 0 auto;
}

.button-center{
	text-align: center;
}

/*Added this because float property for #move-right was interfering with logo's
ability to center properly*/
img.center{
	clear: right;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.move-right {
	float: right;
}

/*Commenting this out for right now,
but might prove useful when giving margins to right nav bar elements
probably bring back as class instead of ID to use for footer as well

#footer-right {
	margin-right: 1%;
}*/
